body
{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family:Rockwell Extra Bold,Rockwell Bold,monospace;
	color: #F3E5AB;
	font-size: 20px;
}
#header
{
	background-image: url("../images/header.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;  
	margin: auto;
	max-width:80%;
	height:180pt;
	width:auto;
}
#menubar
{
	background-image: url("../images/menuBackground.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;  
	margin:auto;
	height:75px;
	max-width:80%;
	width:auto;
}
#content
{
	background-image: url("../images/contentBackground.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
	max-width:80%;
	width:auto;
}
#contentbox
{
	margin: auto;
	max-width:80%;
	width:auto;
}
.contentinfo
{
	margin: 10px 40px 40px 40 px;
}
#footer
{
	background-image: url("../images/footer.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;  
	margin: auto;
	height:auto;
	max-width:80%;
	width:auto;
}
.footertable
{
	margin:auto;
	border-collapse: separate;
    border-spacing: 50px 10px;
	width: 100%;
	height:200px;
	vertical-align: top;
}
.aligncheck
{
	width: 50%;
	vertical-align: top;
}
hr
{
	color: #FFA500;
	max-width:80%;
	width:auto;
}
ul
{
	list-style:none;
	margin:auto;
	width:auto;
	max-width:90%;
	text-align:center;
	padding: 7pt 5%;
	font-family:Rockwell Extra Bold,Rockwell Bold,monospace;
}
ul li
{
	float:left;
	margin:auto;
	width:27%;
	max-width:80%;
	padding-left: 3%;
	padding-right: 3%;
	font-family:Rockwell Extra Bold,Rockwell Bold,monospace;
}
ul li a
{
	display:block;
	background-image: url("../images/button.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
    padding: 15px 5%;
	text-decoration:none;
	text-align:center;
}
a
{
	font-family:Rockwell Extra Bold,Rockwell Bold,monospace;
	color: #F3E5AB;
	font-size: 20px;
}
.tableimages
{
	margin:auto;
	border-collapse: separate;
    border-spacing: 20px 10px;
	width: 90%;
	text-align:center;
	background-image: url("../images/button.jpg");
	background-position: center center;
}
.picenlarge
{
	height: auto;
	max-width:80%;
	width:auto;
}
.picpreview
{
	height: 100%;
	max-width:80%;
	width:auto;
}
.screenshot
{
    width: 100%;
    height: 100%;
}